"""
Name: Towobola Oladipo
Course:DBMS260
Assignment:Using Python and Machine Learning for Data Analytics
Date: February 23rd 2026

Description:
This program uses the pandas library to load and clean the olympics.csv dataset, rename medal columns,
organize country names and IDs, and analyze the data to determine which country has won the most Summer gold medals, 
which country has the largest difference between Summer and Winter gold medals, 
and which country has the greatest relative difference in gold medals between the two seasons.
"""

In [5]:
import pandas as pd
##change the file path for olympics.csv##
df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)
for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='№':
        df.rename(columns={col:'#'+col[1:]}, inplace=True) 
        
names_ids = df.index.str.split('\s\(')  
df.index = names_ids.str[0] 
df['ID'] = names_ids.str[1].str[:3] 
df = df.drop('Totals')
df.head()

##Question 1: Which country has won the most gold medals in the summer games?
def answer_one():
	x = max(df['Gold'])
	ans = df[df['Gold'] == x].index.tolist()
	return ans[0]

answer_one()

'United States'

In [6]:
##Question 2: Which country had the biggest difference between their summer and winter gold medal counts?
def answer_two():
	x = max(df['Gold'] - df['Gold.1'])
	ans = df[(df['Gold'] - df['Gold.1']) == x].index.tolist()
	return ans[0]

answer_two()

'United States'

In [8]:
##Question 3: Which country has the biggest difference between their summer and
##winter gold medal counts relative to their total gold medal count?
##Only include countries that have won at least 1 gold in both summer and winter.
def answer_three():
	df_gold = df[(df['Gold']>0) & (df['Gold.1']>0)]
	df_max_diff = (abs(df_gold['Gold']-df_gold['Gold.1'])/df_gold['Gold.2'])
	return df_max_diff.idxmax()

answer_three()

'Bulgaria'

In [9]:
import pandas as pd

# Load the data and skip the first row (header info)
df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)

# Rename columns for readability
for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='№':
        df.rename(columns={col:'#'+col[1:]}, inplace=True) 

# Clean up country names and IDs
names_ids = df.index.str.split('\s\(')  
df.index = names_ids.str[0] 
df['ID'] = names_ids.str[1].str[:3] 

# Remove the 'Totals' row to avoid skewing calculations
df = df.drop('Totals')
df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ